.body {
  align-items: center !important;
  background-color: rgb(250, 251, 251);
  margin: 2px;
  background-size: cover;
}
.signin {
  background-color: rgba(0, 9, 20, 0.88);
  padding: 2vw;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 500px;
  color: white;
}
.btn {
  width: 100%;
  padding: 40;
}
.input {
  padding: 20px;
}
.logo {
  max-width: 60px;
}
.small {
  margin: 10%;
}
form {
  margin-bottom: 20px;
}
.Mheader {
  background-color: #008573;
  height: 70px;
  padding: 10px;
}
.logoheader {
  justify-content: space-between;
  width: 50px;
  height: auto;
  border-radius: 50%;
}
.inline {
  display: inline;
}
.a {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: large;
  margin: 10px;
}
.a1 {
  font-size: large;
}
a:hover {
  color: rgb(255, 157, 0);
}
.topportion {
  background-color: yellow;
  height: 100vh;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/8646c479493401.5cc4c9ebb7d99.png);
  background-repeat: no-repeat;
  height: "120vh";
  background-size: cover;
  align-items: center;
}
.topportionProduct {
  background-color: rgb(0, 0, 0);
  height: 150vh;

  background-size: cover;
  align-items: center;
}
.text {
  color: white;
  font-size: 42px;

  font-family: "Courier New", Courier, monospace;
}
.texti {
  margin-top: 20vh;
  margin-left: 7vw;
}
.buttonexplore {
  padding: 5px;
  border-radius: 15px;
  border: solid rgb(232, 235, 234) 3px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(7, 128, 139);
  animation: mymove 1s infinite;
  color: white;
}
@keyframes mymove {
  10% {
    background-color: rgb(190, 73, 73);
  }
  20% {
    background-color: rgb(195, 113, 6);
  }
  50% {
    background-color: rgb(195, 176, 6);
  }
  100% {
    background-color: rgb(0, 113, 128);
  }
}
.searchme {
  min-height: 200px;
  background-color: #e1d89f;
}
.searchname {
  margin: 30px;
  margin-bottom: 1px;
  border: rgb(1, 84, 95) solid 5px;
  border-radius: 10px;
  padding: 8px;
  min-width: 200px;
}
select {
  padding: 10px;
}
.buttonSearch {
  border: none;
  background-color: #e1d89f;
  margin: auto;
}
.tiles {
  /* background-image: url(https://previews.123rf.com/images/tupungato/tupungato1709/tupungato170900214/85822277-tools-background-doodle-texture-.jpg);
    */
  background-color: #e1d89f;
  text-align: center;
}
.footermee {
  min-height: 50px;
  background-color: rgb(32, 25, 18);
  color: white;
  text-align: center;
  padding: 10px;
}
.copyright {
  background-color: rgb(32 25 18);
  font-size: large;
}
.text2 {
  color: rgb(6, 126, 86);
}
.infiniteDiv {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 71, 60);
  max-width: 800px;
}
.tilesIndividual {
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  font-weight: bolder;
  background-color: #008891;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

/****************     product page      *********/

.productDetails {
  position: relative;
  min-width: 400px;
  max-width: 400px;

  position: relative;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 4px rgb(0, 104, 107);
  border-radius: 5px;
}

.productimage {
  height: auto;
  width: 390px;
  object-fit: cover;
}

.discription {
  background-color: rgb(255, 255, 255);
  padding: 30px;
}
hr {
  height: 4px;
  border-width: 10;
  color: gray;
  background-color: gray;
}
.buttonpro {
  padding: 5px;
  border-radius: 15px;
  border: solid rgb(232, 235, 234) 3px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(7, 128, 139);

  color: white;
}
.inputproduct {
  background-color: khaki;
  font-size: large;
  margin: 5px;
  margin-left: 0;
}
.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fefeff;
  font-size: 15px;
  background-color: rgb(1, 42, 47);
  /* -ms-transform: rotate(20deg); /* IE 9 */
  /*  transform: rotate(20deg);*/
  padding: 3px;
  font-size: large;
}
/**************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #202125;
}
footer {
  background-color: rgb(0, 1, 3);
  min-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 13px;
  font-size: large;
}

.heading {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 40px;
  color: white;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #374045;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

/*
  
  _id : 601037b498b9af42741e8e82 images : Array sender : "niketagrawal888@gmail.com" title : "tool" description : "A wonderful tool." cpa : 1 pid : "niketagrawal888@gmail.com" city : "Gwalior" state : "Madhya Pradesh" __v : 0
  */
