.SignUpCardContent {
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px 10px 20px 10px;
  width: 400px !important;
  height: 450px !important;
  background-color: rgba(0, 8, 10, 0.8);
  text-align: center;
  border-radius: 10px;
}

.SignUpCardPara {
  font-size: 1.1rem;
  font-weight: bold;
}

img {
  height: 80px;
  width: 80px;
}

.textField {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.button {
  margin-top: 45px;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  color: white;
}
